<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- CSS Files -->
    <link rel="stylesheet" href="../content/css/style.css">
<!-- Bulma -->
<!-- Google Fonts -->
    <link rel="stylesheet" href="">
    <title>Gus's World Famous Fried Chicken</title>
</head>
<body>
    
    <header>
        <h1>Gus's World Famous Fried Chicken</h1>
    </header>
    
</body>
<!-- JavaScript -->
<script></script>
</html>